.banner
{
	margin-top:10px;
	width:100%;

	@media(min-width:768px)
	{
		padding:0 10px;
		display:flex;
		margin-top:30px;
		flex-wrap:wrap;
	}

	@media(min-width:992px)
	{
		padding-left:20px;
		justify-content:space-between;
	}

	@media(min-width:1200px){
		padding:0;
		justify-content: space-around;
	}
}

.banner__book
{
	width:100%;
	max-width:360px;
	background: #fff;
	margin-top:10px;
	border-radius:10px;
	padding:20px 20px 20px 20px;
	z-index:2;

	@media(min-width:380px){max-width:100%;}

	@media(min-width:768px){
		padding:20px 20px 20px 20px;
		margin:0;
		width:50%;
		max-width:50%;
	}

	@media(min-width:992px)
	{
		width:36%;
		max-width:36%;
		margin:0 0 0 30px;
		height:520px;
	}

	@media(min-width:1200px)
	{
		max-width:360px;
		width:360px;
	}
}
.banner__book-center{margin-top:10px;}

.banner__book-top{display:flex;}

.banner__book-top-title
{
	margin-top:2px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #1C294D;
}

.banner__book-top-img
{
	max-width:133px;
	max-height:200px;
	min-width:133px;
	min-height:200px;
	margin:45px 23px 0 15px;

	@media(min-width:768px){max-width:100%;}

	@media(min-width:1200px)
	{
		max-width:167px;
		max-height:250px;
		min-width:167px;
		min-height:250px;
		margin:45px 9px 0 0px;
	}
}

.banner__book-top-time
{
	width: 68px;
	height: 25px;
	background: rgba(255, 122, 0, 0.15);
	border-radius: 5px;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	@media(min-width:480px){
		margin-left:auto;
	}
}

.banner__book-top-time-text
{
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	color: #FF7A00;
}

.banner__book-center-genre
{
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: rgba(28, 41, 77, 0.5);
}

.banner__book-center-description
{
	font-weight: 500;
	font-size: 14px;
	line-height: 15px;
	color: #1C294D;
}

.banner__book-center-author
{
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color:rgba(28, 41, 77, .8);
}

.banner__book-center-price
{
	font-weight: 700;
	font-size: 18px;
	line-height:8px;
	color: #1C294D;
}

.banner__book-bottom{display:flex;}