.banner
{
	margin-top:10px;
	width:100%;

	@media(min-width:768px)
	{
		padding:0 10px;
		display:flex;
		margin-top:30px;
		flex-wrap:wrap;
	}

	@media(min-width:992px)
	{
		padding-left:20px;
		justify-content:space-between;
	}

	@media(min-width:1200px){
		padding:0;
		justify-content: space-around;
	}
}
.slider{
	width: 100%;
	max-width:750px;
	max-height:350px;
	position: relative;

	@media(min-width:768px)
	{
		max-width:100%;
		height:350px;
		margin-bottom:20px;
	}

	@media(min-width:992px)
	{
		max-width:60%;
		margin-bottom:0;
	}

	@media(min-width:1200px)
	{
		max-width:750px;
		margin-bottom:0;
	}
}
.slider-block{
	width:100%;
	height:175px;

	@media(min-width:768px){height:100%;}
}
.slider-block__img
{
	width:100%;
	height:100%;
	position:absolute;
	z-index:1;
}
.slider-block__content
{
	width:100%;
	height:100%;
	position:relative;
	z-index:2;
	align-items: center;
	display: flex;
	justify-content: center;
}
.slider-block__content-img
{
	margin-top:25px;

	@media(min-width:768px)
	{
		width:310px;
		margin-top:10px;

		& svg{
			width:100%;
			margin-top:0;
			height:110px;
		}
	}

}
.slider-dots
{
	align-items: center;
	justify-content: center;
	display: flex;
	z-index:3;
	position:relative;
	bottom:10px;

	@media(min-width:768px){bottom:20px;}
}
.slider-dots__list{display:flex;}

.slider-dots__link
{
	width:25px;
	height:2px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 2px;
	margin-right:5px;

	&:hover,&.active
	{
		cursor:pointer;
		background:#ffffff;
	}

	&:last-child{margin-right:0;}
}

.slider-btns
{
	width:100%;
	position:absolute;
	top:0;
	height:100%;
	display:flex;

	@media(min-width:768px){align-items:center;}
}

.slider-btns__left,.slider-btns__right
{
	width:50px;
	height:100%;
	position:absolute;
	z-index:4;
	display:flex;
	align-items:center;
	background: #f7ffee;
	border-radius:5px;

	&:hover
	{
		cursor:pointer;
		background:rgba(255, 255, 255,1);

		& svg path
		{
			fill:#1C294D;
			fill-opacity:1;
		}
	}

	@media(min-width:768px)
	{
		height:40px;
		width:40px;
		text-align:center;
		display:flex;
		align-items: center;
		justify-content:center;
	}

	& svg path{opacity-fill:1;}
}

.slider-btns__left{
	left:0;
	@media(min-width:768px){left:27px;}
}

.slider-btns__right
{
	right:0;
	@media(min-width:768px){right:27px;}
}

.slider-btns__left-img,.slider-btns__right-img{
	position:relative;
	width:100%;
	height:100%;
	&:hover{cursor:pointer;}
	& svg{display:none;}

	@media(min-width:768px)
	{
		position:relative;
		display:block;
		width:7px;
		height:12px;

		& svg
		{
			display:block;

			& path{fill:rgba(42, 61, 72, 0.5)}
		}
	}
}

.banner-book
{
	width:100%;
	max-width:360px;
	background: #fff;
	margin-top:10px;
	border-radius:10px;
	padding:30px 20px 20px 20px;

	@media(min-width:380px){max-width:100%;}

	@media(min-width:768px){
		padding:20px 20px 20px 20px;
		margin:0;
		width:50%;
		max-width:50%;
	}

	@media(min-width:992px)
	{
		width:36%;
		max-width:36%;
		margin:0 0 0 30px;
		height:520px;
	}

	@media(min-width:1200px)
	{
		max-width:360px;
		width:360px;
	}
}
.banner-book__center{margin-top:15px;}

.banner-book__top{display:flex;}

.banner-book__title
{
	margin-top:2px;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #1C294D;
}

.banner-book__img
{
	max-width:133px;
	max-height:200px;
	min-width:133px;
	min-height:200px;
	margin:45px 23px 0 15px;

	@media(min-width:768px){max-width:100%;}

	@media(min-width:1200px)
	{
		max-width:167px;
		max-height:250px;
		min-width:167px;
		min-height:250px;
		margin:45px 9px 0 0px;
	}
}

.banner-book__time
{
	width: 68px;
	height: 25px;
	background: rgba(255, 122, 0, 0.15);
	border-radius: 5px;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	@media(min-width:480px){
		margin-left:auto;
	}
}

.banner-book__time-text
{
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	color: #FF7A00;
}

.banner-book__genre
{
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color: rgba(28, 41, 77, 0.5);
}

.banner-book__description
{
	font-weight: 500;
	font-size: 14px;
	line-height: 15px;
	color: #1C294D;
}

.banner-book__author
{
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	color:rgba(28, 41, 77, .8);
}

.banner-book__price
{
	font-weight: 700;
	font-size: 18px;
	line-height:8px;
	color: #1C294D;
}

.banner-book__bottom{display:flex;}

.banner-promotion
{
	margin-top:10px;
	font-family:"GoshaSans";
	@media(min-width:768px)
	{
		width:48%;
		margin-left:2%;
		margin-top:0;
	}
	@media(min-width:992px)
	{
		display:flex;
		margin-top:-133px;
		width:100%;
		max-width:60%;
		margin-right:auto;
		display:block;
		margin-left:0;
	}
	@media(min-width:1200px)
	{
		display:flex;
		margin-top:-140px;
		margin-left:0;
		margin-right:0;
		max-width:100%;
	}
}

.banner-promotion__block
{
	width: 360px;
	height: 140px;
	border-radius: 5px;
}

.promotion-block
{
	border-radius:5px;
	padding:20px;
	display:flex;
	height:auto;

	&:first-child{margin-bottom:10px;}

	@media(min-width:768px)
	{
		margin:0 30px 0 0;
		width:100%;
		max-height:140px;
		padding:20px 25px;
	}

	@media(min-width:1200px){width:360px;}
}

.promotion-block__row
{
	margin-top:15px;
	position:relative;
}
.promotion-block__row-one{width:200px;}

.promotion-block__row-two{width:150px;}

.promotion-block__one{
	background: #6D378F;
	@media(min-width:350px){height:140px;}
}

.promotion-block__two{background: #FFD8EF;}

.promotion-block__one-img
{
	position:absolute;
	z-index:1;
	left:-10px;
}

.promotion-block__two-img
{
	position:absolute;
	z-index:1;
	left: 25px;
	bottom: 10px;

	@media(min-width:768px)
	{
		left:20px;
		bottom:5px;
	}

	@media(min-width:992px){bottom:0;}
}

.promotion-block__text
{
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	z-index:2;
	position:relative;
}

.promotion-block__text-one{color:#ffffff;}

.promotion-block__text-two{color:rgba(28, 41, 77, 0.8);}

.promotion-block__img{margin-left:auto;}