<div class="banner container">
	{% include '@blocks/slider/slider.twig' %}
	<div class="banner__book">
		<div class="banner__book-top">
			<span class="banner__book-top-title">Книга дня</span>
			<img src="./img/banner-book.png" alt="book" class="banner__book-top-img">
			<div class="banner__book-top-time">
				<span class="banner__book-top-time-text">08:56:31</span>
			</div>
		</div>
		<div class="banner__book-center">
			<p class="banner__book-center-genre">Корпоративное право</p>
			<p class="banner__book-center-description">Инвестирование: способы, риски, субъекты : монография</p>
			<p class="banner__book-center-author">Майфат А.В.</p>
			<p class="banner__book-center-price">4 450 ₽</p>
		</div>
		<div class="banner__book-bottom">
			{% include '@blocks/g-button/add-cart.twig' %}
			{% include '@blocks/g-button/bookmark.twig' %}
		</div>
	</div>
	{% include '@blocks/promotion/promotion.twig' %}
</div>