<div class="slider">
	<div class="slider__block">
		<img src="./img/slider-1.png" alt="slider" class="slider__block-img">
		<div class="slider__block-content">
			<div class="slider__block-content-img">
				{% include '@assets/svg/slider-1.svg' %}
			</div>
		</div>
	</div>
	<div class="slider__dots">
		<ul class="slider__dots-list">
			<li class="slider__dots-link active"></li>
			<li class="slider__dots-link"></li>
			<li class="slider__dots-link"></li>
			<li class="slider__dots-link"></li>
		</ul>
	</div>
	<div class="slider__btns">
		<div class="slider__btns-left">
			<div class="slider__btns-left-img">
				{% include '@assets/svg/slider-arrow-left.svg' %}
			</div>
		</div>
		<div class="slider__btns-right">
			<div class="slider__btns-right-img">
				{% include '@assets/svg/slider-arrow-right.svg' %}
			</div>
		</div>
	</div>
</div>