.slider {
	width: 100%;
	max-width: 750px;
	max-height: 350px;
	height: 175px;
	position: relative;
	overflow: hidden;
	display: flex;
	border-radius: 10px;
	animation: preloaderAnimation 1.5s infinite;
	background: #fff;

	@include mq (768px) {
		max-width: 100%;
		height: 350px;
		margin-bottom: 20px;
	}

	@include mq (992px) {
		max-width: 60%;
		margin-bottom: 0;
	}

	@include mq (1200px) {
		max-width: 750px;
		margin-bottom: 0;
	}
}

.slider__dots {
	align-items: center;
	justify-content: center;
	display: flex;
	z-index: 3;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 30px;

	@include mq (768px) {
		bottom: 20px;
	}
}

.slider__dots-list {
	display: flex;
}

.slider__dots-link {
	width: 25px;
	height: 15px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 2px;
	margin-right: 5px;

	&:hover,&.active {
		cursor: pointer;
		background: #ffffff;
	}

	&:last-child {margin-right: 0;}
}

.slider__btns {
	width: 100%;
	position: absolute;
	top: 0;
	height: 100%;
	display: flex;

	@include mq (768px) {
		align-items: center;
	}
}

.slider__btns-left,
.slider__btns-right
{
	width: 50px;
	height: 100%;
	position: absolute;
	z-index: 4;
	display: flex;
	align-items: center;
	border-radius: 5px;

	&:hover
	{
		cursor: pointer;
		background: rgba(247, 255, 238, 0.4);

		@include mq (768px) {background: rgb(247, 255, 238, 1);}

		& svg path
		{
			fill: #1c294d;
			fill-opacity: 1;
		}
	}

	@include mq (768px) {
		height: 40px;
		width: 40px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgb(247, 255, 238);
	}

	& svg path {
		opacity-fill: 1;
	}
}

.slider__btns-left {
	left: 0;
	@include mq (768px) {left: 27px;}
}

.slider__btns-right {
	right: 0;
	@include mq (768px){right: 27px;}
}

.slider__btns-left-img,
.slider__btns-right-img {
	position: relative;
	width: 100%;
	height: 100%;

	&:hover {
		cursor: pointer;
	}

	& svg {
		display: none;
	}

	@include mq (768px) {
		position: relative;
		display: block;
		width: 7px;
		height: 12px;

		& svg {
			display: block;

			& path {fill: rgba(42, 61, 72, 0.5);}
		}
	}
}

