<div class="slider">
	{% for _ in 1..3 %}
		{% include '@blocks/slider-block/slider-block.twig' with {'data': data} %}
	{% endfor %}

	<div class="slider__dots">
		<ul class="slider__dots-list">
		</ul>
	</div>
	<div class="slider__btns">
		<div class="slider__btns-left" onclick="o2.slider.prevSlide()">
			<div class="slider__btns-left-img">
				{% include '@assets/svg/slider-arrow-left.svg' %}
			</div>
		</div>
		<div class="slider__btns-right" onclick="o2.slider.nextSlide()">
			<div class="slider__btns-right-img">
				{% include '@assets/svg/slider-arrow-right.svg' %}
			</div>
		</div>
	</div>
</div>

