/* mixins */
@import 'base/mixins.scss';

/* base */
@import 'base/fonts';
@import 'base/variables';
@import 'base/normalize';
@import 'base/typography';
@import 'base/default';

/* blocks */
@import '@b/g-select/g-select.scss';
@import '@b/g-input/g-input.scss';
@import '@b/g-checkbox/g-checkbox.scss';
@import '@b/g-button/g-button.scss';
@import '@b/g-radio/g-radio.scss';
/* @import 'blocks/component/component'; */
@import '@b/header/header.scss';
@import '@b/banner/banner.scss';
@import '@b/cards/cards.scss';
@import '@b/mailing/mailing.scss';
@import '@b/services/services.scss';
@import '@b/news/news.scss';
@import '@b/footer/footer.scss';
/* pages */
/* @import 'index'; */


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	&:before,
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}
html
{
	line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
	-webkit-font-smoothing: antialiased;
}
body
{
	background: rgba(28, 41, 77, 0.25);
}
.container
{
	width:100%;
	padding:0 10px;
	@media(min-width:380px)
	{
		max-width:1140px;
	}
	@media(min-width:992px){padding:0 20px;}
	@media(min-width:1160px){padding:0;}
}