<div class="promotion">
	<div class="promotion__block promotion__block-one">
		<div class="promotion__block-row promotion__block-row--one">
			<div class="promotion__block-img promotion__block-img--one">
				{% include '@assets/svg/promotion-1.svg' %}
			</div>
			<span class="promotion__block-text promotion__block-text--one">Бесплатно доставим ваш заказ при покупке от 2000 ₽</span>
		</div>
		<div class="promotion__block-img">
			{% include '@assets/svg/promotion-1(icon).svg' %}
		</div>
	</div>
	<div class="promotion__block promotion__block-two">
		<div class="promotion__block-row promotion__block-row--two">
			<div class="promotion__block-img promotion__block-img--two">
				{% include '@assets/svg/promotion-2.svg' %}
			</div>
			<span class="promotion__block-text">Скидка при регистрации до 15%</span>
		</div>
		<div class="promotion__block-img">
			{% include '@assets/svg/promotion-2(icon).svg' %}
		</div>
	</div>
</div>
