<div class="news">
	<div class="container">
		<div class="news-row">
			<div class="news-top">
				<span class="news-top__title">Новости</span>
				{% include '@blocks/g-button/top-arrow.twig' %}
			</div>
			<div class="news-center">
					<div class="news-card">
							<img src="./img/news.png" alt="news" class="news-card__center-img">
							<p class="news-card__center-date">16 июня 2020</p>
							<div class="news-card__top">
								<p class="news-card__center-title">Бесплатный онлайн</p>
							</div>
							<div class="news-card__center">
								<p class="news-card__center-description">18 июня в «Клубе цивилистебного прецедента. Мероприятие приуроч...</p>
							</div>
							<div class="news-card__bottom">
								<button class="news-card__center-btn">Читать</button>
							</div>
					</div>
					<div class="news-card">
							<img src="./img/news.png" alt="news" class="news-card__center-img">
							<p class="news-card__center-date">16 июня 2020</p>
							<div class="news-card__top">
								<p class="news-card__center-title">Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</p>
							</div>
							<div class="news-card__center">
								<p class="news-card__center-description">18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</p>
							</div>
							<div class="news-card__bottom">
								<button class="news-card__center-btn">Читать</button>
							</div>
					</div>
					<div class="news-card">
							<img src="./img/news.png" alt="news" class="news-card__center-img">
							<p class="news-card__center-date">16 июня 2020</p>
							<div class="news-card__top">
								<p class="news-card__center-title">Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</p>
							</div>
							<div class="news-card__center">
								<p class="news-card__center-description">18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</p>
							</div>
							<div class="news-card__bottom">
								<button class="news-card__center-btn">Читать</button>
							</div>
					</div>
				</div>
				<div class="news-bottom">
					<button class="news-bottom__btn">Показать все новости</button>
				</div>
			</div>
		</div>
	</div>
</div>