<div class="news container">
	<div class="news__top">
		<span class="news__top-title">Новости</span>
		{% include '@blocks/g-button/top-arrow.twig' %}
	</div>

	<div class="news__center">
		{% include '@blocks/news-card/news-card.twig' %}
		{% include '@blocks/news-card/news-card.twig' %}
		{% include '@blocks/news-card/news-card.twig' %}
		{% include '@blocks/news-card/news-card.twig' %}
		{% include '@blocks/news-card/news-card.twig' %}
		{% include '@blocks/news-card/news-card.twig' %}
	</div>

	<div class="news__bottom">
		<button class="news__bottom-btn">Показать все новости</button>
	</div>

</div>