.news
{
	border-radius: 5px;
	overflow:hidden;
	display:flex;
	flex-wrap:wrap;
	background: #FFFFFF;
	@include mq(1200px){margin-top:15px;}
}

.news__top
{
	padding:10px 10px 15px 10px;
	display:flex;
	width:100%;
	border-bottom:1px solid rgba(28, 41, 77, 0.15);
	@include mq(1200px){padding:12px 25px 15px 25px;}
}

.news__top-title
{
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 25px;
	color: #1C294D;
	position:relative;
	top:2px;
}

.news__center
{
	display:flex;
	overflow:hidden;
	padding:0 10px;
	width:100%;
	@include mq(992px){padding:0 20px;}
}


.news__bottom
{
	width:100%;
	border-top:1px solid rgba(28, 41, 77, 0.15);
	padding:10px;
	margin-top:20px;
	@include mq(992px){display:none;}
	@include mq(1200px){margin-top:auto;}
}
.news__bottom-btn
{
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #1C294D;
	border:none;
}