<div class="news-card">
	<a href="#">
		<img src="./img/news.png" alt="news" class="news-card__center-img">
	</a>
	<p class="news-card__center-date">16 июня 2020</p>
	<div class="news-card__top">
		<a href="#" class="news-card__center-title">Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</a>
	</div>
	<div class="news-card__center">
		<p class="news-card__center-description">18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</p>
	</div>
	<div class="news-card__bottom">
		<a href="#" class="news-card__center-btn">Читать</a>
	</div>
</div>