.cards
{
	background:#fff;
	padding:18px 0 0 0;
	width:100%;
	border-radius:5px;
	overflow: hidden;
	margin-top:10px;

	@include mq(768px){margin-top:20px;}

	@include mq(992px){padding:15px 0 0 0;}
}

.cards__center
{
	margin-top:15px;
	display:flex;
	flex:1;
	flex-wrap:wrap;
}
.cards__center-row
{
	border-top: 1px solid rgba(28, 41, 77, 0.15);
	border-bottom: 1px solid rgba(28, 41, 77, 0.15);
	display:flex;
	width:100%;
}
.cards__top
{
	display:flex;
	padding:18px 10px 0 10px;
	@include mq(992px){padding:15px 25px 0 25px;}
}

.cards__top-title
{
	font-weight: 700;
	font-size: 20px;
	line-height: 25px;
	color: #1C294D;
}

.cards__bottom
{
	width:100%;
	padding:10px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.cards__bottom-link-text
{
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #1C294D;
}
.cards__bottom-link--desk{
	display:none;
	@include mq(992px)
	{
		display:inline;
		margin-left:4px;
	}
}