<div class="cards container">
	<div class="cards__top">
		<span class="cards__top-title">Новые поступления</span>
		{% include '@blocks/g-button/top-arrow.twig' %}
	</div>
	<div class="cards__center">
		<div class="cards__center-row">
			{% include '@blocks/card/card.twig' %}
			{% include '@blocks/card/card.twig' %}
			{% include '@blocks/card/card.twig' %}
			{% include '@blocks/card/card.twig' %}
			{% include '@blocks/card/card.twig' %}
			{% include '@blocks/card/card.twig' %}
			{% include '@blocks/card/card.twig' %}
		</div>
	</div>
	<div class="cards__bottom">
		<a href="#" class="cards__bottom-link">
			<span class="cards__bottom-link-text">Показать все книги</span>
			<span class="cards__bottom-link-text cards__bottom-link--desk">раздела</span>
		</a>
	</div>
</div>
