<div class="mailing container">
		<div class="mailing__info">
			<span class="mailing__info-text">Скидка 200 ₽ при подписке  на рассылку Издательства</span>
			<div class="mailing__info-bg">
				{% include '@assets/svg/promotion-mail.svg' %}
			</div>
			<input placeholder="Введите ваш Email" type="text" class="mailing__info-input">
			<button class="mailing__info-btn">Подписаться</button>
		</div>
</div>