.mailing{
	margin:5px auto 10px auto;
	display:flex;
	position:relative;

	@media(min-width:992px){margin:27px auto 30px auto;}
}

.mailing__info
{
	border-radius: 5px;
	background: #0288D1;
	width:100%;
	position:relative;
	padding:20px 10px;

	@media(min-width:992px)
	{
		display:flex;
		padding:40px 45px 35px 45px;
		margin-bottom:5px;
	}
}

.mailing__info-top{display:flex;}

.mailing__info-bg
{
	position:absolute;
	z-index:1;
	left:65px;
	top:20px;
	@media(min-width:992px)
	{
		top:40px;
		left:100px;
	}
}

.mailing__info-text
{
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	color: #FFFFFF;
	position:relative;
	z-index:2;
	width:100%;
	display:block;
}

.mailing__info-input
{
	width:100%;
	height:40px;
	background: #FFFFFF;
	border-radius: 5px;
	margin:10px 0 10px 0;
	border:none;
	padding:0 15px;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: rgba(28, 41, 77, 0.5);

	@media(min-width:480px){max-width:418px;}

	@media(min-width:768px){margin:15 10px 0 14px;}

	@media(min-width:992px){margin:-10px 10px 0 14px}
}

.mailing__info-btn
{
	width:100%;
	height:40px;
	border:none;
	border: 1px solid #FFFFFF;
	border-radius: 5px;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;

	@media(min-width:480px){max-width:137px;}

	@media(min-width:992px){margin-top:-10px;}
}