<div class="mailing">
	<div class="container">
		<div class="mailing-info">
			<span class="mailing-info__text">Скидка 200 ₽ при подписке  на рассылку Издательства</span>
			<div class="mailing-info__bg-img">
				{% include '@assets/svg/promotion-mail.svg' %}
			</div>
			<input placeholder="Введите ваш Email" type="text" class="mailing-input">
			<button class="mailing-btn">Подписаться</button>
		</div>
	</div>
</div>