.footer
{
	width:100%;
	height:455px;
	margin-top:20px;
	@media(min-width:768px)
	{
		background:#fff;
		margin-top:30px;
	}
}

.footer__top
{
	background: rgb(241, 241, 242);
	display: flex;
	flex-wrap:wrap;
	padding-top: 25px;
	@media(min-width:768px)
	{
		justify-content:space-between;
		padding:25px 2% 0 2%;
	}
	@media(min-width:1200px)
	{
		padding:25px 0 0 0;
		justify-content:center;
	}
}

.footer__top-socies
{
	border-bottom:1px solid rgba(28, 41, 77, 0.15);
	padding:20px 0 13px 0;
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	margin-bottom:20px;

	@media(min-width:768px)
	{
		order:3;
		width:auto;
		border:none;
		padding:0;
	}
}

.footer__top-socies--mob
{
	display:flex;
	@media(min-width:768px){display:none;}
}

.footer__top-socies--desk{
	display:none;
	@media(min-width:768px){display:flex;}
}

.footer__top-socies-img
{
	margin-right:15px;
	&:last-child{margin-right:0;}
}

.footer__top-logo
{
	width:20%;
	margin-left:20px;
	@media(min-width:768px)
	{
		margin-left:0;
		width:auto;
	}
}

.footer__top-logo-img{margin-right:15px;}

.footer__top-mailer
{
	width:72%;
	display:flex;
	position:relative;
	margin-left:-10px;
	margin-bottom:20px;

	@media(min-width:768px)
	{
		margin-left:0;
		width:50%;
	}

	@media(min-width:1200px)
	{
		width:443px;
		margin:0 200px 0 282px;
	}
}

.footer__top-mailer-input
{
	width:100%;
	background: #FFFFFF;
	border: 1px solid rgba(40, 47, 54, 0.15);
	border-radius:5px;
	height:40px;
	padding:0 52px 0px 15px;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: rgba(40, 47, 54, 0.5);
	transition:all .3s ease;

	&:hover{border: 1px solid #FF7A00;}
}

.footer__top-mailer-btn
{
	background: #FF5C00;
	width:50px;
	height:40px;
	display:flex;
	justify-content:center;
	align-items:center;
	border:none;
	margin-left:auto;
	position:absolute;
	right:0;
	border-radius: 0 5px 5px 0;
}

.footer__center
{
	display:flex;
	background:#ffffff;
	justify-content: flex-start;
	max-width: 1140px;
	margin: 0 auto;

	@media(min-width:768px){padding:45px 2% 0 2%;}

	@media(min-width:1200px){padding:45px 165px 0 0%;}
}

.footer__center-list
{
	width:100%;
	@media(min-width:768px){width:auto;}
}

.footer__center--desk
{
	display:none;
	@media(min-width:768px)
	{
		display:flex;
		justify-content:space-between;
	}
}

.footer__center--mob{@media(min-width:768px){display:none;}}

.footer__center-title
{
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #1C294D;
	display:block;
	margin-bottom:24px;
}

.footer__center-link
{
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #2A3D48;
	padding:20px;
	border-top:2px solid rgba(42, 61, 72, 0.15);
	height:62px;
	display:flex;
	transition:all 0.3s ease;

	& a{color:#2A3D48;}

	&:hover a{color:#FF7A00;}

	@media(min-width:768px)
	{
		border:none;
		color:rgba(40, 47, 54, 0.8);
		padding:0;
		height:auto;
		margin-bottom:14px;
	}
}

.footer__center-link--expand
{
	border-top:none;
	border-bottom:2px solid rgba(42, 61, 72, 0.15);
	position:relative;
	margin:0 20px;
	padding:20px 0;
	font-size:14px;

	&:after{
		content:url("../svg/footer-arrow-down.svg");
		position:absolute;
		right:4px;
		top:18px;
	}
}

.footer__center-link--price{border-bottom:none;}

.footer__center-link--policy
{
	height:auto;
	margin-top:-5px;
	display:block;
}

.footer__center-link--policy .footer__center-link--text{line-height:25px;}


.footer__center-file
{
	display:flex;
	@media(min-width:768px){padding-left:4px;}

	&:hover {cursor:pointer;}
	&:hover .footer__center-file-block-download ,&:hover .footer__center-file-block-type{color:#FF7A00;}
	&:hover .footer__center-file-icon svg path
	{
		fill:#FF7A00;
		fill-opacity:1;
	}
}
.footer__center-file-icon svg path{transition:all .3s ease;}

.footer__center-file-block-download,.footer__center-file-block-type
{
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: rgba(40, 47, 54, 0.8);
	display:block;
	transition:all .3s ease;
}

.footer__center-file-type
{
	color: rgba(40, 47, 54, 0.5);
	display:block;
	font-size:12px;
}

.footer__center-link-text
{
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: rgba(28, 41, 77, 0.5);
	display:block;
}

.footer__center-link-about{margin:0 3px 0 7px;}

.footer__center-addition
{
	position:relative;
	left:5px;
}

.footer__center-link-icon{margin-right:8px;}

.footer-file
{
	display:flex;
	flex-wrap:wrap;
}
.footer__center-file-block{margin-left:10px;}

.footer__bottom
{
	display:none;
	@media(min-width:768px)
	{
		padding:0;
		display:flex;
		margin-top:30px;
	}
}

.footer__bottom-row
{
	border-top:2px solid rgba(40, 47, 54, 0.15);
	justify-content:space-between;
	display:flex;
	width:100%;
	padding-top:40px;
	@media(min-width:768px){justify-content:flex-start;}
	@media(min-width:992px)
	{
		max-width: 1140px;
		margin: 0 auto;
	}
}

.footer__bottom-title
{
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: rgba(28, 41, 77, 0.5);
	margin-right:205px;
}

.footer__bottom-row-text
{
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: rgba(28, 41, 77, 0.8);
}

.footer__bottom-row-text--address{margin-right:70px;}

.footer__bottom-row-text--policy{margin-right:30px;}