<div class="services">
	<div class="container">
		<div class="services-row">
			<div class="services-block services-clock">
				<div class="services-block__left">
					<img src="./img/services-1.png" alt="" class="services-block__left-img services-img__clock">
				</div>
				<div class="services-block__right services-block__right-clock">
					<span class="services-block__right-title">Быстрая доставка</span>
					<span class="services-block__right-text">Доставим бесплатно  от 2000 ₽ по всей России</span>
				</div>
			</div>

			<div class="services-block services-star">
				<div class="services-block__left">
					<img src="./img/services-2.png" alt="" class="services-block__left-img services-img__star">
				</div>
				<div class="services-block__right services-block__right-star">
					<span class="services-block__right-title">Безопасная оплата</span>
					<span class="services-block__right-text">Плати безопасно и легко онлайн на нашем сайте.</span>
				</div>
			</div>

			<div class="services-block services-bag">
				<div class="services-block__left">
					<div class="services-block__left-img">
						<img src="./img/services-3.png" alt="" class="services-block__left-img services-img__bag">
					</div>
				</div>
				<div class="services-block__right services-block__right-bag">
					<span class="services-block__right-title">Бонусная программа</span>
					<span class="services-block__right-text">Дополнительная скидка 15% при регистрации</span>
				</div>
			</div>

			<div class="services-block services-card">
				<div class="services-block__left">
					<img src="./img/services-4.png" alt="" class="services-block__left-img services-img__card">
				</div>
				<div class="services-block__right services-block__right-card">
					<span class="services-block__right-title">Большой выбор</span>
					<span class="services-block__right-text">Ежегодно выходит в свет более 100 книг</span>
				</div>
			</div>
		</div>
	</div>
</div>