.services
{
	margin-top:10px;
	width:100%;

	@include mq(620px)
	{
		display:flex;
		flex-wrap:wrap;
	}

	@include mq(992px)
	{
		justify-content:space-between;
		margin-top:30px;
	}
}
.services__block--star{@include mq(992px){order:3;}}

.services__block--bag{@include mq(992px){order:4;}}

.services__block--card{@include mq(992px){order:2;}}

.services__block-right--star{@include mq(1200px){margin-left:-10px;}}

.services__block-right-bag{@include mq(1200px){margin-left:-15px;}}

.services__block-right--card{@include mq(1200px){margin-left:-10px;}}

.services__block-right--clock{@include mq(1200px){margin-left:-20px;}}

.services__block
{
	display:flex;
	margin-bottom:10px;
	background: #FFFFFF;
	border-radius: 5px;
	padding:38px 20px 0px 10px;
	height:170px;

	@include mq(620px)
	{
		width:49%;
		&:nth-child(2n){margin-left:2%;}
	}

	@include mq(992px)
	{
		width:24%;
		height:150px;
		padding:32px 5px;
		&:nth-child(2n){margin-left:0;}
	}

	@include mq(1200px)
	{
		width:263px;
		max-height:150px;
		padding:30px 0 0 0;
	}
}
.services__block-left
{
	width:35%;
	@include mq(1200px){width:auto;}
}
.services__block-left--bag{@include mq(1200px){width:80px;}}
.services__block-left-img
{
	width:125px;
	height:85px;
	object-fit:cover;

	@include mq(992px){margin-left:-20px;}
	@include mq(1200px)
	{
		margin-left:0;
		height:80px;
		width:100px;
	}
}

.services__block-img-right--bag
{
	@include mq(1200px)
	{
		width:110px;
		height:80px;
		margin-left:25px;
	}
}

.services__block-right
{
	width:65%;
	padding-top:10px;

	@include mq(1200px){width:auto;}
}

.services__block-right-title
{
	font-weight: 700;
	font-size: 16px;
	line-height: 25px;
	letter-spacing: -0.3px;
	color: #1C294D;

	@include mq(992px){font-size:14px;}

	@include mq(1200px){font-size:16px;}
}

.services__block-right-text
{
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: rgba(28, 41, 77, 0.5);
	display:block;

	@include mq(992px)
	{
		font-size:12px;
		line-height:19px;
	}
}