<div class="services container">
	<div class="services__block services__block--clock">
		<div class="services__block-left">
			<img src="./img/services-1.png" alt="" class="services__block-left-img services__block-left-img--clock">
		</div>
		<div class="services__block-right services__block-right--clock">
			<span class="services__block-right-title">Быстрая доставка</span>
			<span class="services__block-right-text">Доставим бесплатно  от 2000 ₽ по всей России</span>
		</div>
	</div>

	<div class="services__block services__block--star">
		<div class="services__block-left">
			<img src="./img/services-2.png" alt="" class="services__block-left-img services__block-left-img--star">
		</div>
		<div class="services__block-right services__block-right--star">
			<span class="services__block-right-title">Безопасная оплата</span>
			<span class="services__block-right-text">Плати безопасно и легко онлайн на нашем сайте.</span>
		</div>
	</div>

	<div class="services__block services__block--bag">
		<div class="services__block-left services__block-left--bag">
			<div class="services__block-left-img">
				<img src="./img/services-3.png" alt="" class="services__block-left-img services__block-left-img--bag">
			</div>
		</div>
		<div class="services__block-right services__block-right--bag">
			<span class="services__block-right-title">Бонусная программа</span>
			<span class="services__block-right-text">Дополнительная скидка 15% при регистрации</span>
		</div>
	</div>

	<div class="services__block services__block--card">
		<div class="services__block-left">
			<img src="./img/services-4.png" alt="" class="services__block-left-img services__block-left-img--card">
		</div>
		<div class="services__block-right services__block-right--card">
			<span class="services__block-right-title">Большой выбор</span>
			<span class="services__block-right-text">Ежегодно выходит в свет более 100 книг</span>
		</div>
	</div>

</div>