<div class="slider-block">
	<img src="./img/slider-1.png" alt="slider" class="slider-block__img">
	<div class="slider-block__content">
		<div class="slider-block__content-img">
			<h2 class="slider-block__content-img-text"></h2>
		</div>
	</div>
</div>