<div class="top-arrow__btns">
	<button class="top-arrow__btn">
		{% include '@assets/svg/btn-arrow-left.svg' %}
	</button>
	<button class="top-arrow__btn">
		{% include '@assets/svg/btn-arrow-right.svg' %}
	</button>
</div>