<header class="header">
	<span class="header__line"></span>

	<div class="header__top">
		<ul class="header__top-list">
			<li class="header__top-link">
				<div class="header__top-link-img">
					{% include '@assets/svg/location.svg' %}
				</div>
				<a href="" class="header__top-link-text">Москва</a>
			</li>
			<li class="header__top-link">
				<div class="header__top-link-img">
					{% include '@assets/svg/delivery.svg' %}
				</div>
				<a class="header__top-link-text">
					Доставка и оплата
				</a>
			</li>
			<li class="header__top-link header__top-link--hours">
				<div class="header__top-link-img">
					{% include '@assets/svg/opening-hours.svg' %}
				</div>
				<a class="header__top-link-text">
					Адрес и часы работы
				</a>
			</li>
		</ul>
		<ul class="header__top-contacts">
			<li class="header__top-contacts-link">
				<div class="header__top-contacts-link-img">
					{% include '@assets/svg/mail.svg' %}
				</div>
				<p class="header__top-contacts-link-text">
					market@estatut.ru
				</p>
			</li>
			<li class="header__top-contacts-link">
				<div class="header__top-contacts-link-img">
					{% include '@assets/svg/call.svg' %}
				</div>
				<a href="tel:12121" class="header__top-contacts-link-text">
					8 (968) 660-65-50
				</a>
				<div class="header__top-contacts-link-info">
					{% include '@assets/svg/info.svg' %}
				</div>
			</li>
		</ul>
	</div>

	<div class="header__center">
			<div class="header__center-logo">
				<img src="./img/logo.png" alt="Logo" class="header__center-logo--img">
			</div>
			<div class="header__center-search">
				<input
					type="text"
					class="header__center-search-input inputPlaceholders"
					data-mobile-placeholder="Что будем искать на мобильном"
					data-desktop-placeholder="Что будем искать на десктопе"
				>
				<button class="header__center-search-btn">
					<span class="header__center-search-btn-icon">
						{% include '@assets/svg/search.svg' %}
					</span>
					<span class="header__center-search-btn-text">Искать</span>
				</button>
			</div>

			<ul class="header__center-list">
				<li class="header__center-link header__center-link--bookmark">
					<div class="header__center-link-img header__center-link-img--bookmark">
						{% include '@assets/svg/bookmark.svg' %}
					</div>
					<p class="header__center-link-text">
						Отложено
					</p>
				</li>

				<li class="header__center-link header__center-link--smile">
					<div class="header__center-link-img">
						{% include '@assets/svg/smile.svg' %}
					</div>
					<p class="header__center-link-text">
						Войти
					</p>
				</li>

				<li class="header__center-link header__center-link--cart">
					<div class="header__center-link-img">
						{% include '@assets/svg/cart.svg' %}
					</div>
					<p
					class="header__center-link-text"
					>
						Корзина
					</p>
					<div class="header__center-link-count">
						<p class="header__center-link-count-text">3</p>
					</div>
				</li>
			</ul>
		</div>

		<div class="header__bottom">
			<div class="header__bottom-burger">
				<span class="header__bottom-burger-line"></span>
			</div>

			<ul class="header__bottom-list">
				<li class="header__bottom-link">
					<span class="header__bottom-link-text">Каталог</span>
				</li>

				<li class="header__bottom-link">
					<span class="header__bottom-link-text">Авторы</span>
				</li>

				<li class="header__bottom-link">
					<span class="header__bottom-link-text">Новинки</span>
				</li>

				<li class="header__bottom-link">
					<div class="header__bottom-link-img">
						{% include '@assets/svg/discount.svg' %}
					</div>
					<span class="header__bottom-link-text">Скидки</span>
				</li>

				<li class="header__bottom-link">
					<span class="header__bottom-link-text">Партнёрам</span>
				</li>

				<li class="header__bottom-link">
					<span class="header__bottom-link-text">Мы</span>
				</li>
			</ul>
		</div>
</header>