.header
{
	width:100%;
	margin:0 auto;
	display:flex;
	flex-wrap:wrap;
	background:#ffffff;
	width:100%;
	position: relative;
	padding:0 5px 10px 5px;

	@media(min-width:340px){padding:0 15px;}
}

.header-container
{
	display:flex;

	@media(min-width:480px){display:block;}
}

.header-top
{
	display:none;
	width:100%;
	height:50px;

	@media(min-width:480px){display:block;}
}

.header-top__line{
	display:none;
	background:#DFE0E1;
	width:100%;
	height:1px;
	position:absolute;
	left:0;
	top:90px;

	@media(min-width:992px){top:50px;}

	@media(min-width:480px){display:block;}
}

.header-top__wrapper
{
	padding:11px 0 13px 0;
	display: flex;
	margin:0 auto;
	flex-wrap:wrap;

	@media(min-width:992px){flex-wrap:nowrap;}
}

.header-top__location
{
	display:flex;
	margin-left:4px;
	margin-top:5px;
	height:20px;
	&:hover{cursor:pointer;}

	&:hover .header-top__location-text ,&.active .header-top__location-text{color:#FF7A00;
	}

	&:hover .header-top__location-img path,&.active .header-top__location-img path{fill:#FF7A00;}
}

.header-top__location-img svg
{
	width:11.67px;
	height:16#FF7A00.67px;
	margin-top:-2px;
}

.header-top__location-img svg:hover{cursor:pointer;}

.header-top__location-text
{
	font-weight: 400;
	font-size: 14px;
	color: #1D1D1B;
	margin-left:10px;
	line-height:16.41px;
}

.header-top__menu{margin-left:31px;}

.header-top__menu-list
{
	display:flex;
	margin-top:-3px;
}

.header-top__menu-link
{
	position: relative;
	display: flex;
	align-items: center;

	&:hover{cursor: pointer;}
}
.header-top__menu-link:first-child
{
	margin-right: 25px;

	@media(min-width:768px)
	{
		margin-right:30px;
	}
}
.header-top__menu-link--text
{
	font-weight: 400;
	font-size: 14px;
	line-height: 16.41px;
	color: #1D1D1B;
	margin-left:7px;
}
.header-top__contacts{margin:-5px 0 0 auto;}

.header-top__contacts-list{display:flex;}

.header-top__contacts-link
{
	display:flex;
	align-items:center;
	padding-top:2px;
}
.header-top__contacts-link:nth-child(1){margin-right:32px;}

.header-top__contacts-link:nth-child(2) .header-top__contacts-link--text{margin-right:8px;}

.header-top__contacts-link .header-top__contacts-link--img{margin-right:6px;}

.header-top__contacts-link--text
{
	font-weight: 500;
	font-size:14px;
	line-height:16.41px;
}

.header-center
{
	margin-top:0;
	order:2;
	flex-wrap:nowrap;
	width:100%;
	display:flex;
	position:relative;
	padding-top:15px;

	@media(min-width:480px)
	{
		flex-wrap:wrap;
		margin-top:35px;
	}

	@media(min-width:992px)
	{
		flex-wrap:nowrap;
		margin-top:0;
	}
}

.header-local__modal
{
	width:455px;
	height:calc(80vh - 20px);
	overflow-x:hidden;
	overflow-y:auto;
	background:#fff;
	position:absolute;
	top:0;
	left:0;
	box-shadow: 0px 0px 10px rgba(42, 61, 72, 0.1);
	border-radius: 10px;
	margin-top:7px;
	display:none;

	&.active
	{
		display:block;
		z-index: 6;
	}
}
.local{padding:25px;}

.local-modal__close{&:hover{cursor:pointer;}}

.local-top
{
	display:flex;
	text-align: center;
	display: flex;
	align-items: center;
	padding: 0 3px;
}

.local-top__img{&>svg path{fill:#FF7A00;}}

.local-top__text
{
	font-weight: 700;
	font-size: 19px;
	line-height: 25px;
	color: #1C294D;
	margin:0 136px 0 14px;
}

.local-search__label
{
	display: flex;
	flex-direction: column;
	width:100%;
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
	color: rgba(28, 41, 77, 0.5);
}

.local-search
{
	display:flex;
	width:100%;
	height:40px;
	position:relative;
}

.local-search__input
{
	width:100%;
	border: 1px solid rgba(28, 41, 77, 0.15);
	padding:0 12px;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: rgba(28, 41, 77, 0.5);
	height:40px;
	margin-top:5px;
}

.local-search__btn
{
	border:none;
	width:70px;
	height:40px;
	background: #FF7A00;
	border-radius:0 5px 5px 0;
	position: absolute;
	right: 0;
	top: 5px;
}

.local-center{margin-top:20px;}

.local-bottom
{
	border-top: 1px solid rgba(28, 41, 77, 0.15);
	margin-top:25px;
}

.local-bottom__list
{
	display:flex;
	flex-wrap:wrap;
	padding-top:5px;
}

.local-bottom__link
{
	width:50%;
	position:relative;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #1C294D;
	margin-top:17px;
	transition:all 0.2s ease;

	&.active,&:hover
	{
		color:#FF7A00;
		cursor:pointer;
	}

	&:after
	{
		content:"";
		background-image:url('');
		width:14px;
		height:10px;
		display:block;
		position:absolute;
		top:10px;
		right:40px;
	}

	&.active:after{display:block;}
}

.header-center__logo
{
	margin:0 10.25px 0 0;

	@media(min-width:340px)
	{margin:0 20px 0 0;}

	@media(min-width:480px)
	{margin:0 30px 0 0;}
}

.header-center__logo-img
{
	width:32px;
	height:30px;

	@media(min-width:340px)
	{
		width:43.75px;
		height:35px;
		margin-top:2px;
	}

	@media(min-width:480px)
	{
		width:50px;
		height:40px;
		margin-top:5px;
	}
}

.header-center__logo-img:hover{cursor:pointer;}

.header-center__block{padding:0 14px 0 16px;}

.header-center__block:hover
{
	cursor:pointer;
	background:rgba(29,29,27,.04);
}

.header-search__modal
{
	display:none;
	width:593px;
	height:calc(80vh - 20px);
	position:absolute;
	background:#ffffff;
	box-shadow: 0px 0px 10px rgba(42, 61, 72, 0.15);
	border-radius: 5px;
	top:-10px;
	left:-10px;
	padding:70px 25px 35px 25px;
	overflow-x:hidden;
	overflow-y:auto;
	&.active
	{
		display:block;
		z-index:6;
		@media(max-width:768px){display:none;}
	}
}

.search-modal__books
{
	display: block;
	margin-top:15px;
}

.search-modal__books-title
{
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #1C294D;
}

.search-modal__books-link
{
	margin-bottom:16px;
	display: -webkit-box;
	font-size: 14px;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	color:rgba(28, 41, 77, 0.5);
	line-height:16.41px;

	&:hover .search-modal__books-link--text{
		color:rgb(255, 122, 0);
		cursor:pointer;
	}

	&.active{margin-bottom:0;}

	&.active .search-modal__books-link--text{color:rgb(255, 122, 0);}
}

.search-modal__books-link--text
{
	color:rgba(28, 41, 77, 0.5);
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	transition:all 0.3s ease;

	&.strong{color:#1C294D;}
}

.search-modal__categories
{
	display:block;
	margin-top:28px;
}

.search-modal__categories-title
{
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #1C294D;
}

.search-modal__categories-link
{
	display:flex;
	margin-top:15px;

	&:hover{cursor:pointer;}

	&:hover .search-modal__categories-link--text,&:hover .search-modal__categories-link--count{color:rgb(255, 122, 0)}
}

.search-modal__categories-link--text
{
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #1C294D;
}

.search-modal__categories-link--count
{
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: rgba(28, 41, 77, 0.5);
	margin:0 0 0 auto;
}

.header-center__search
{
	width:175px;
	position: relative;
	height:40px;
	display:flex;

	&.active
	{

		& .header-center__search-input
		{
			border: 1px solid #FF7A00;
			z-index:6;
		}

		& .header-center__search-btn{z-index:6;}
	}

	@media(min-width:360px){width:195px;}

	@media(min-width:480px){width:80%;}

	@media(min-width:992px)
	{
		width:593px;
		margin-top:7px;
	}
}

.header-center__search-input
{
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0.05em;
	color: rgba(0, 0, 0, 0.4);
	position:relative;
	padding:0 40px 0 6px;
	width:175px;
	background: #F7F7F7;
	border-radius:5px;
	border:none;

	@media(min-width:360px)
	{width:195px;}

	@media(min-width:480px)
	{
		width:100%;
		border-radius: 5px 0 0 5px;
		padding:0 14px;
	}

	@media(min-width:768px)
	{
		width:450px;
		border: 1px solid #DFE0E1;
	}
}

.header-center__search-btn
{
	height: 40px;
	border:none;
	border-radius:0 5px 5px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	right:0;
	background:none;
	position:absolute;
	width:auto;

	@media(min-width:480px)
	{
		background: #FF7A00;
		width: 123px;
		position:relative;
	}
}

.header-center__search-btn:hover{cursor:pointer;}

.header-center__search-btn--icon
{
	margin:5px 16px 0 0;
	@media(min-width:480px)
	{margin:5px 2px 0 0;}
}
.header-center__search-btn--icon svg
{
	width: 16.67px;
	height: 16.67px;

	& path{fill:rgba(28, 41, 77, 0.5);}

	@media(min-width:480px){& path{fill:#ffffff;}}
}

.header-center__search-btn--text
{
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	color:#ffffff;
	margin-left:6px;
	display:none;

	@media(min-width:480px){display:block;}
}

.header-center__list
{
	display:flex;
	list-style:none;
	margin-left: 195px;
	margin-right:5px;
	margin-left:auto;

	@media(min-width:340px)
	{
		padding-top:0;
		margin-right:0;
	}

	@media(min-width:480px)
	{
		margin-left:auto;
		padding-top:4px;
	}

	@media(min-width:1200px)
	{
		margin-left:175px;
	}
}
.header-center__cart{position:relative;}

.header-center__bookmark{margin-right:10px;}

.header-center__bookmark .header-center__link-img{margin-right:10px;}

.header-center__link
{
	display:none;
	align-items:center;
	margin-right:27px;

	&:hover{cursor:pointer;}
	@media(min-width:480px){display:flex;}

	&:first-child .header-center__link-img{width:10px;height:16.67px;}
}

.header-center__link-cart
{
	display:block;

	@media(min-width:480px){display:none;}
}

.header-center__link:last-child{
	margin-right:0;

	@media(max-width:480px)
	{
		margin-top:10px;
		align-items:inherit;
	}
}

.header-center__link-img
{
	width:20.83px;
	height:18.75px;
	margin-right:6px;

	@media(min-width:480px)
	{
		width:16.67px;
		height:16.67px;
	}
}

.header-center__link-text
{
	display:none;

	@media(min-width:480px)
	{
		display:block;
		font-size: 14px;
		font-weight: 400;
		line-height: 16px;
		color:#1C294D;
	}
}

.header-center__link-count
{
	border-radius:50%;
	width:auto;
	height:auto;
	background:#FF7A00;
	padding:2px;
	position:absolute;
	display:flex;
	align-items:center;
	text-align:center;
	justify-content:center;
	min-width:20px;
	min-height:20px;
	max-width:20px;
	max-height:20px;
	left:12px;
	top:-12px;

	@media(min-width:480px)
	{
		min-width:15px;
		min-height:15px;
		max-width:15px;
		max-height:15px;
		left:10px;
		top:5px;
	}
}

.header-center__link-count--text
{
	margin:0;
	font-size: 9px;
	font-weight: 500;
	line-height: 11px;
	color:#ffffff;
	overflow: hidden;
	text-overflow: clip;
}

.header-center__favorites
{
	width: 182px;
	height: 48px;
	background-color:rgba(29, 29, 27, .04);
	border-radius: 3px;
	display:flex;
	align-items:center;
	margin-left:46px;
}

.header-center__favorites-heart
{
	width:24px;
	height:20px;
}

.header-center__favorites-text
{
	font-weight: 600;
	font-size: 14px;
	color: #1D1D1B;
	margin:0 15px 0 15px;
	margin-left:15px;
}

.header-center__favorites-count
{
	width: 17px;
	height: 17px;
	background: #E0001B;
	border-radius:50%;
	display:flex;
	justify-content:center;
	align-items:center;
	margin-top:-5px;
}

.header-center__favorites-count--text
{
	font-weight: 600;
	font-size: 12px;
	letter-spacing: 0.05em;
	color: #FFFFFF;
}

.header-center__scales
{
	display:flex;
	align-items:center;
	margin-left:2px;
}

.header-center__scales-img
{
	width:27px;
	height:24px;
}

.header-center__scales-text
{
	font-weight: 600;
	font-size: 14px;
	color: #1D1D1B;
	margin-left:13px;
}

.header-center__cart
{
	display:flex;
	align-items:center;
}

.header-center__cart-img
{
	width:24px;
	height:24px;
}

.header-center__cart-text
{
	font-weight: 600;
	font-size: 14px;
	color: #1D1D1B;
	margin:0 11px 0 14px;
	margin-left:13px;
}

.header-bottom
{
	display:flex;
	width:auto;
	padding: 22px 0 0 5px;
	margin-right: 10px;

	@media(min-width:480px)
	{
		width:100%;
		padding:13px 0 20px 0;
		margin-right:0;
	}
}

.header-bottom__catalog
{
	display:flex;
	align-items:center;
	margin-left:10px;
}

.header-bottom__burger
{
	display:block;
	margin-top:7px;
	height:10px;

	&:hover{cursor:pointer;}

	&:hover .header-catalog{display:block;}
}

.header-bottom__burger-line,
{
	display:block;
	width:9.17px;
	height:2px;
	margin-bottom:4px;
	position:relative;
	background:#FC6E1D;
	border-radius:1.5px;
	top:4px;
	margin-left: 4px;
	margin-right: 12px;
}

.header-bottom__burger-line:before ,.header-bottom__burger-line:after
{
	content:"";
	position:absolute;
	display:block;
	width:13.33px;
	height:2px;
	background:#1C294D;
	border-radius:1.5px;
}

.header-bottom__burger-line:before{top:-4px;}

.header-bottom__burger-line:after
{
	width:12px;
	bottom:-5px;
}

.header-bottom__catalog-text
{
	font-weight: 600;
	font-size: 16px;
	color: #FFFFFF;
}

.header-bottom__block
{
	display:flex;
	align-items:center;
	height:100%;
	background-color:rgba(29, 29, 27, .02);
}

.header-bottom__list
{
	display:flex;
	width:100%;
}
.header-bottom__link
{
	display:none;

	@media(min-width:480px)
	{
		margin-right:18px;
		display:flex;
	}

	@media(min-width:768px){margin-right:25px;}
}
.header-bottom__link:hover{cursor:pointer;}

.header-bottom__link:hover .header-bottom__link-text
{color:#FF283D;}

.header-bottom__link:hover .header-bottom__link-img svg path{fill:#FF283D;}

.header-bottom__link:first-child .header-bottom__block-plate{margin-left:26px;}

.header-bottom__link:last-child
{
	padding-right:0;

	@media(min-width:768px){padding-right:30px;}
}

.header-bottom__link-img
{
	width:16px;
	height:16px;
	margin:3px 10px 0 0;
}

.header-bottom__link-img svg path{fill:#1C294D;}

.header-bottom__link-text
{
	font-weight: 400;
	font-size: 14px;
	color:#1C294D;
	margin-top:1px;
	transition:all 0.2s ease;
}

.header-bottom__block-plate
{
	margin-left:32px;
	display:flex;
	position:relative;
}

.header-bottom__block-plate:after
{
	content:"";
	position:absolute;
	width:1px;
	height:32px;
	left:-23px;
	top:-8px;
	background:rgba(29, 29, 27, .04);
	display:none;
}

.header-bottom__block-plate:last-child(){padding-right:30px;}

.header-bottom__block-plate:hover .header-bottom__block-img
{
	fill:red;
	fill-rule:red;
}

.header-bottom__block-plate:hover .header-bottom__block-img path
{
	fill:red;
	fill-rule:red;
}

.header-bottom__block-plate:hover .header-bottom__block-text
{
	color:red;
	cursor:pointer;
}

.header-bottom__block-plate:hover.header-bottom__block-plate:after{display:block;}

.header-catalog
{
	display:none;
	width:100%;
	height:calc(80vh - 20px);
	max-height:460px;
	overflow-x:hidden;
	overflow-y:scroll;
	z-index:6;
	top:175px;
	position:relative;
	padding:0 20px 20px 0;
	background: #FFFFFF;
	box-shadow: 0px 5px 7px rgba(42, 61, 72, 0.1);

	&.active{display:block;}

	&.active .header-catalog__wrapper{border-top:2px solid black;}
}

.header-catalog__wrapper
{
	width:100%;
	position:absolute;
	width: 100%;
	position: absolute;
	max-width: 1140px;
	left: 50%;
	transform: translate(-50%,-50%);
}

.header-catalog__row
{
	width:100%;
	position:absolute;
	padding:30px;
	top:0;
}

.header-catalog__link
{
	font-size: 14px;
	margin-bottom:12px;
	color: #1C294D;

	&:hover{cursor:pointer;}

	&.strong{font-weight:700;}
}

.backgroundPlate
{
	display:none;

	&.active
	{
		display:block;
		position:fixed;
		z-index:5;
		width:100%;
		height:100%;
		background: rgba(0,0,0,0.7);
		left:0;
	}

	&:hover{cursor:pointer;}
}